.tetris__canvas--wrapper {
    margin-bottom: 1rem;
    width: auto;
    max-width: 100%;
    vertical-align: bottom;
    position: relative;
}

.tetris__reset {
    background: #ff4141;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 7px 20px;
    margin-bottom: 1rem;
    color: white;
}

.tetris__canvas {
    width: auto;
    height: 100%;
    background-color: rgba(20,20,20,.1);
    margin: 0 auto;
}

.tetris__game-btn--wrapper {
    display: flex;
}

.tetris__game-btn {
    background: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 10px;
}

.tetris__game-btn.pause {
    margin-right: auto;
    background-color: #ed4938;
}

.tetris__game-btn.top {
    background-color: #adc607;
}

.tetris__game-btn.down {
    background-color: #f4c10d;
}

.tetris__game-btn.left {
    background-color: #de3974;
}

.tetris__game-btn.right {
    background-color: #7b3dba;
}

@media (orientation: portrait) {
    .tetris__canvas--wrapper {
        display: flex;
        flex-direction: column;
    }
    .tetris__canvas {
        height: 60vh;
        width: auto;
        order: 1;
    }

    .tetris__game-btn--wrapper.left {
        order: 2;
    }

    .tetris__game-btn--wrapper.right {
        order: 3;
        justify-content: flex-end;
    }
}

@media (orientation: landscape) {
    .tetris__canvas--wrapper {
        height: 70vh;
        width: auto;
    }

    .tetris__canvas--wrapper {
        display: flex;
        justify-content: space-between;
    }

    .tetris__game-btn--wrapper {
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .tetris__canvas {
        height: 40vh;
    }

    .tetris__game-btn.pause {
        margin-right: 10px;
        align-self: flex-start;
    }

    .tetris__game-btn--wrapper {
        justify-content: center;
    }

    .tetris__game-btn--wrapper.right {
        justify-content: center;
    }
}