
.tetris__color-switch {
    z-index: 999;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 0;
    padding: 0 0 1rem 1rem;
    background: none;
    border-radius: 0 0 50% 50%;
    max-width: 5rem;
    height: auto;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.tetris__color-switch:hover {
    filter: brightness(120%);
}

.tetris__color-switch:focus {
    outline: none;
}

.tetris__canvas {
    width: auto;
    height: 100%;
    background-color: rgba(20,20,20,.1);
    margin: 0 auto;
}

.tetris__canvas--wrapper {
    height: 75vh;
    margin-bottom: 1rem;
    width: auto;
    max-width: 100%;
    vertical-align: bottom;
    position: relative;
}

.tetris__canvas--wrapper.mobile {
    display: flex;
    justify-content: space-between;
}

.tetris__game-btn--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.tetris__game-btn {
    background: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 20px;
    background-color: #ffcc00;
}

.tetris__game-btn.pause {
    margin-right: auto;
}

@media (orientation: portrait) {
    .tetris__canvas--wrapper.mobile {
        display: grid;
        grid-template-areas:
    'c c'
    'l r';
        grid-column-gap: 10px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .tetris__canvas {
        grid-area: c;
    }

    .tetris__canvas--wrapper .tetris__game-btn--wrapper {
    }

    .tetris__canvas--wrapper .tetris__game-btn--wrapper.left {
        grid-area: l;
    }

    .tetris__canvas--wrapper .tetris__game-btn--wrapper.right {
        grid-area: r;
    }

    .tetris__game-btn--wrapper {
        flex-direction: row;
        flex-basis: 50%;
    }

}

.tetris__reset {
    background: #ff4141;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 7px 20px;
    margin-bottom: 1rem;
    color: white;
}